@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Poppins&display=swap');
#content {
    max-width:1600px;
    margin:0 auto;
}

nav a{
    text-align:center;
    color:#000;
    text-decoration: none;
    padding: 35px;

}

#hero-msg h1,#hero-msg h4,.button-box,main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #4A4E69;
}

body {
    background-color: #fcfbfb; 
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color:rgba(20,30,13, .7);
}
     
nav a:hover, .book:hover,.join:hover {
    background-color: black;
    color: #d9c2a3;
}    

h4,.msg h2 {
    color:#000;
}

.msg {
    background-color:#C9ADA7;
    line-height: 1.5em;
    padding: 35px;
}

h2 {
    margin: 0;
}

.book,.join {
    background-color:#C9ADA7;
    color:#000;
    font-size: 18px;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.home-title {
    color:#C9ADA7;
    font-family: Kalam;
    font-size: 2em;
    margin-top: 10px;
}

footer {
    color:#000;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    color:#000;
    text-decoration: none;
}

footer a:hover {
    color:#FFF;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #4A4E69;
}

.main section img {
    box-sizing: border-box;
}

#hero-img {
    width:100%;
}


.msg p {
    color:#000;
    font-size: .8em;
    padding-bottom: 15px;
}
        
.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

footer .social img {
    padding-top: 15px;
}
#logo_link {
    padding-top: 5px;
}


footer p {
    font-size: 1.2em;
}    

footer p a:hover {
    text-decoration: underline;
}    